<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/style.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body class = "container">
    <div class = "gridHeader">
        <div class ="grid11">1. 네이버를 시작페이지로</div>
        <div class ="grid22">네이버 로고</div>
        <div class ="grid33">메일 카페 블로그 지식in --------------</div>
    </div>

    <div class = "grid">
        <div class ="grid1">h1</div>
        <div class ="grid2">h2</div>
        <div class ="grid3">h3</div>
        
        <div class ="grid5">h5</div>
    </div>
</body>

</html>
